@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: disc;
    height: 65px;
    background-color: black;
    color: white;
}
nav li {
    padding: 0 14px;
}
.brand img{
    width: 61px;
    padding: 0 10px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius:2%;
    padding: 2%;
    background-image: url(bg.jpg);


}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: sticky;
    bottom: 0;
    height: 100px;
    color: white;
    flex-direction: column;
}

.icons{
margin-top: 14px;
cursor: pointer;
}

#myProgressBar {
    width: 75vw;
    cursor: pointer;
}

.songItemcontainer{
    margin-top: 16px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 12vw;
    font-family: 'Varela Round', sans-serif;

}
.songInfo img{
    opacity: 0;
    transition: opacity .4s ease-in;
}